[2016-01-20 17:55] charpeni opened #1 "Coding style"
We should decide a coding style.

I suggest these guides from Airbnb :
- [ES6](https://github.com/airbnb/javascript)
- [React](https://github.com/airbnb/javascript/tree/master/react)

[2016-01-20 18:23] davidLeonardi commented on #1
I've spent a lot of time linting the current code.

The linting settings i had with ESLint were, more or less:

[code]

[2016-01-20 18:28] davidLeonardi commented on #1
Looking at the AirBnb React styleguide it doesn't seem that bad though.
The only thing i find horrible is indentation with spaces, but that's just matter of enforcing linting.

[2016-01-20 18:32] charpeni opened #2 "Submit on npm and js.coach"
- [x] Update `package.json`
- [x] Update `README.md`
- [x] Initial release
- [x] Submit on npm
- [x] Submit on js.coach

[2016-01-20 18:36] charpeni opened #3 "Convert to ES6 style"
- [x] Convert `README.md` to ES6
- [x] Convert `index.js` and `./components` to ES6
- [x] Convert `./twitter-example` to ES6
- [x] Add `PropTypes` to `index.js` and `./components`

Refer to coding style as defined in #1.

[2016-01-21 09:23] johannhof commented on #2
I can take care of it

[2016-01-21 09:45] johannhof commented on #2
@react-native-simple-router-community/react-native-simple-router I need your npm usernames :)

[2016-01-21 10:54] jvlobo opened #5 "Go forward by swipe left"
Hi there!

I'm trying to load a different view (sending properties as **id**) by swipe from **right to left**

Before achieve this by swipe, I'm trying to load this view with a simple button, but neither I'm be able to do it :/

I got this **index.js**

[code]

And then, in **story.js** is where I'd like to go to another view:

[code]

**Edit:** I also have this to fire the **goToPart** function:

[2016-01-21 12:03] charpeni commented on #2
charpeni

[2016-01-21 12:38] davidLeonardi commented on #2
sethx

[2016-01-21 12:41] davidLeonardi commented on #1
So, does anybody want to suggest a ESLint .rc file ?

I have no problem with the AirBnB styleguide so i'd be cool with that.

[2016-01-21 12:46] jvlobo commented on #2
jvlobo

[2016-01-21 13:52] charpeni commented on #1
@johannhof @jvlobo ?

[2016-01-21 13:53] johannhof commented on #1
+1 for AirBnB

[2016-01-21 13:54] johannhof commented on #1
That means this jscs config https://github.com/jscs-dev/node-jscs/blob/master/presets/airbnb.json and I would say we just go with the default .eslint config and add more entries by demand/pull request.

[2016-01-21 13:57] johannhof commented on #5
What's the problem exactly? Do you get an error message?

[2016-01-21 13:59] charpeni commented on #1
Airbnb eslint can be found here : https://github.com/yannickcr/eslint-plugin-react

My `.eslintrc.js` looks like this :

[code]

[2016-01-21 14:00] jvlobo commented on #5
Yes, sorry.

With this code I get this error: http://puu.sh/mE4Ij/446acce939.png

I've edited my first post with more info.

Thanks.

[2016-01-21 14:02] jvlobo commented on #1
I think you guys have more experience than me in that field. I'm not sure how deep I can help with code, but I'm open to help with doc and stuff :)

[2016-01-21 14:35] #1 closed, assigned to nobody

[2016-01-21 14:37] johannhof commented on #5
Mmh maybe I'm missing something obvious but I don't see anything wrong, are you sure you're importing/exporting `Story` and `Part` correctly?

[2016-01-21 14:51] jvlobo commented on #5
I think so.

**Story** is loading perfect, the problem comes when I try to load **Part** :/

[2016-01-21 15:31] davidLeonardi commented on #5
I don't see what could cause this in the router component, as i do more or less the same over and over again.
Perhaps something is wrong in your Part component.
What happens if you substitute story for part in the first call? Does it break immediately?

[2016-01-21 16:18] jvlobo commented on #5
Shit... I've just seen the issue... you're right, I had something wrong in my **Part** component...

Thanks a lot :)

[2016-01-21 16:40] johannhof commented on #5
:+1:

[2016-01-21 16:49] jvlobo commented on #5
Ups, I had forgotten, I asked about how to change to the new view (**Part**) by swiping from right to left of the screen.

Do you guys think this is possible?

Thanks.

[2016-01-24 06:36] ericraio commented on #3
I updated the Readme to ES6
PR - https://github.com/react-native-simple-router-community/react-native-simple-router/pull/8

[2016-01-24 14:10] #5 closed, assigned to nobody

[2016-01-24 14:13] davidLeonardi commented on #5
For the sake of everyone's information, if you close an issue please detail
what the solution was.

On Sun, Jan 24, 2016 at 3:10 PM JV Lobo notifications@github.com wrote:

[2016-01-24 14:23] jvlobo commented on #5
Sorry.

I've just done differently. Without swiping.

Thanks.

[2016-01-24 15:56] davidLeonardi commented on #3
Changed status of Readme.md

[2016-01-24 15:57] davidLeonardi commented on #2
Do we still care of submission to react.parts?

[2016-01-24 16:37] davidLeonardi opened #10 "Update image in readme to show the interaction potential of this module."
The original package had a GIF in its description, but this got lost in the previous fork.
I propose to bring this back. Perhaps we can showcase this a bit better as well, now that we have new features in here?
Proposals?

[2016-01-25 07:36] ericraio commented on #10
Are you referring to the twitter example animated gif?

[2016-01-25 08:43] davidLeonardi commented on #10
yep

On Mon, Jan 25, 2016 at 8:36 AM Eric Raio notifications@github.com wrote:

[2016-01-25 10:49] davidLeonardi commented on #2
@charpeni ?

[2016-01-25 16:17] charpeni commented on #2
No need, since js.coach is the new catalog.

I will remove it from task list.

[2016-01-25 16:24] charpeni commented on #10
Good idea.

In the other repo, I added a random `headerStyle` color feature on each page. How do you find that?

Maybe we can add random `trans` and `hideNavigationBar` value too on each page changed. For the purpose of see all the features available.

[2016-01-25 16:29] davidLeonardi commented on #10
Also a good idea.
Perhaps we should briefly wait until the ExpensiveRoute PR lands, and
showcase that as well. And port the twitter example to ES6. ;) all in one
go.

On Mon, Jan 25, 2016 at 5:24 PM Nicolas Charpentier <
notifications@github.com> wrote:

[2016-01-25 16:45] charpeni commented on #2
I just tagged version v0.6.0 based on commit c17c7e6 (The current version on npm).

Thanks @johannhof.

[2016-01-25 16:45] #2 closed, assigned to johannhof

[2016-01-25 16:46] charpeni opened #12 "Android support"
- [x] Material design toolbar
- [x] Back button support

[2016-01-27 08:51] ericraio commented on #12
it's working on android for me? What's the issue?

[2016-01-27 09:56] davidLeonardi commented on #12
Android specific look and feel would be nice, out of the box. There is at
least one location I can think of where there are no android specific
templates present.

On Wed, Jan 27, 2016 at 9:51 AM Eric Raio notifications@github.com wrote:

[2016-01-28 13:17] deresegetachew opened #13 "hideNavigationBar leaves a white empty space at the top"
when i set hideNavigationBar={true) for our router its not actually hiding the NavBar; and it gives this White Colored rectangle at the top
<img width="372" alt="screen shot 2016-01-28 at 10 39 29 am" src="https://cloud.githubusercontent.com/assets/2713659/12645351/8807ec1a-c5da-11e5-9284-1180cbeec287.png">

[2016-01-28 13:28] deresegetachew commented on #13
After inspecting through the code i found in index.js that you have a property defined which is not defined in the documentation; the property to use is **noStatusBar**

and here is the code where your using it
`var margin;
    if(route.trans) {
      margin = 0;
    } else if (this.props.hideNavigationBar || route.hideNavigationBar) {
      margin = this.props.noStatusBar ? 0 : 20;
    } else {

[2016-01-28 13:59] deresegetachew commented on #13
FYI we need both `hideNavigationBar={true} noStatusBar={true}`  to get the effect described above!

[2016-01-28 14:13] charpeni commented on #13
To completely hide the navigator bar without hiding the status bar, you can use this props :
 `hideNavigationBar` and `trans`

[2016-01-29 19:32] charpeni commented on #3
Updated status of `./twitter-example`.

`index.js` and `./components` are missing propTypes.

[2016-01-30 07:17] ericraio opened #15 "Proposal: broadcast events based on the methods called on navigator"
Currently, I have a redux/react application. I would love to be able to respond to events whenever the router has pushed or popped an item on the route stack.

if this sounds acceptable, it's very easy to implement and i can submit a pull request.

[2016-01-30 08:42] AnNOtis commented on #3
Does anyone work on this? If not, I can work on this.

[2016-01-30 10:45] davidLeonardi commented on #3
Go for it.
On Sat, 30 Jan 2016 at 09:42, Otis notifications@github.com wrote:

[2016-01-30 10:50] davidLeonardi commented on #15
I think this is acceptabe.
For the sake of consistency please implement this using an emitter as i did
with the route change
On Sat, 30 Jan 2016 at 08:17, Eric Raio notifications@github.com wrote:

[2016-01-31 05:22] ericraio commented on #15
Yeah, that's what I was thinking, i'll submit a PR soon.

[2016-02-01 20:20] charpeni commented on #3
@AnNOtis Do you work on it or I can do?

[2016-02-01 23:49] ffxsam opened #18 "Example code doesn't work"
Red screen of death:

![screenshot_2_1_16__3_49_pm](https://cloud.githubusercontent.com/assets/12532733/12735285/61300d56-c8fb-11e5-9479-33b96d4f9b07.png)

[2016-02-01 23:52] davidLeonardi commented on #18
Can you please show us your index.ios.js ?

On Tue, Feb 2, 2016 at 12:49 AM Sam notifications@github.com wrote:

[2016-02-01 23:53] ffxsam commented on #18
[code]

[2016-02-01 23:54] davidLeonardi commented on #18
Compare to this:
https://github.com/react-native-simple-router-community/react-native-simple-router/blob/master/twitter-example/index.js

note that firstRoute is defined here, as a local variable.

[2016-02-01 23:54] ffxsam commented on #18
[code]

[2016-02-01 23:55] sethx commented on #18
You can't define a component and set it as a route of itself..

Set another component as a first route and it should work.

[2016-02-01 23:59] ffxsam commented on #18
I don't get it. Isn't my code (besides naming things a little differently) the exact same as the example code in the README?

[2016-02-02 00:01] ffxsam commented on #18
Isn't this the problem? (namely, `Component`)

[code]

[2016-02-02 00:01] davidLeonardi commented on #18
Extend your classes from React.Component, not Component.
So for example,
`class HelloPage extends React.Component {`

[2016-02-02 00:04] ffxsam commented on #18
Ok. I still get the white screen with just "Hello". There's no nav bar. Updated code below:

[code]

[2016-02-02 00:04] davidLeonardi commented on #18
Yep, that seems to be the problem.

Will fix the docs accordingly.
Sorry for the inconvenience!

[2016-02-02 00:04] #18 closed, assigned to nobody

[2016-02-02 00:05] ffxsam commented on #18
Will open a separate issue for the above

[2016-02-02 00:05] ffxsam opened #19 "Navigation bar missing"
There's no navigation bar at the top of the screen. Code below:

[code]

[2016-02-02 00:12] davidLeonardi commented on #19
It's just not styled properly.

Try this:

[code]

[2016-02-02 00:17] #19 closed, assigned to nobody

[2016-02-02 01:22] charpeni commented on #12
Added back Android support PR #20.

[2016-02-02 02:07] Amunds opened #21 "Naming collision with fbemitter dependency"
When I run `react-native run-android` I get the following error in console:

[code]

Using:

[code]

[2016-02-02 02:11] charpeni commented on #3
Updated status of missing PropTypes.

[2016-02-02 02:23] charpeni commented on #21
It seems to happen when multiple versions of native-react are required.

At the moment, it should fix this issue :
`rm -rf node_modules/react-native-simple-router/node_modules/react-native`

We will check it out.

[2016-02-02 03:02] AnNOtis commented on #3
:+1:

[2016-02-02 03:31] Amunds commented on #21
There are no node_modules folder in react-native-simple-router, I'm not familiar with npm packaging, but is there a reason why the fbemitter module is installed to <app>/node_modules and not react-native-simple-router/node_modules?

[2016-02-02 08:07] davidLeonardi commented on #21
Related to the discussion going on in the pull request about emitting
events for the swipe events, shall we replace fbemitter?
On Tue, 2 Feb 2016 at 04:31, Amund Sivertsen notifications@github.com
wrote:

[2016-02-02 12:46] #3 closed, assigned to charpeni

[2016-02-02 12:47] davidLeonardi commented on #13
I have a feeling this can be closed as well.
All of this functionality is already implemented.

[2016-02-02 12:47] #13 closed, assigned to nobody

[2016-02-02 14:37] charpeni commented on #3
Thanks to @ericraio, @sethx and @AnNOtis !

[2016-02-02 15:06] charpeni commented on #12
Issue should be open. I updated tasks to add material design.

[2016-02-02 15:12] davidLeonardi commented on #12
Didnt see that. Yes material design would be great!

On Tue, Feb 2, 2016 at 4:06 PM Nicolas Charpentier notifications@github.com
wrote:

[2016-02-02 17:34] Amunds commented on #21
Seems this is a common problem with React Native, referencing: https://github.com/facebook/react-native/issues/5467

I fixed my issue by adding fbemitter to my apps package.json, deleting node_modules folder and used npm3 to install all the modules again.

[2016-02-02 18:57] ericraio commented on #15
@sethx @charpeni
Hey guys, just catching up on the updates from https://github.com/react-native-simple-router-community/react-native-simple-router/pull/17

 I like the idea better of using RN event emitter and replacing a dependency.

Yeah, I was wondering how to tap into navigators swipe to go back.

What's really nice about this approach is that it gives the developer the ability to add a ref to

[2016-02-02 19:07] davidLeonardi commented on #15
Looks good to me.
My thoughts were the same, so the router could be the central point where devs would attatch their event handlers relative to all things navigation to, kind of like a facade.

Who gets to implement this?

[2016-02-04 06:16] ericraio opened #24 "Update documentation for new events"
- [x] examples of push
- [x] examples of pop
- [x] examples of resetTo
- [x] examples of replace
- [x] examples of popToTop

[2016-02-04 06:33] ericraio commented on #15
@sethx haha, I can research how to implement this, thought you had a design in mind :dart:

[2016-02-04 16:53] ericraio commented on #12
I don't know if it's possible with navigator but it would be nice to actually have the standard android nav bar, where you can set more then one right button

[2016-02-04 16:57] charpeni commented on #12
@ericraio Like [twitter-example](https://github.com/react-native-simple-router-community/react-native-simple-router/tree/master/twitter-example) ?

[2016-02-04 17:33] davidLeonardi commented on #12
You can set a component with two buttons in rightbutton?
On Thu, 4 Feb 2016 at 17:57, Nicolas Charpentier notifications@github.com
wrote:

[2016-02-04 19:35] ericraio commented on #12
@sethx @charpeni
Ah brain fart, yes you're right

[2016-02-04 21:17] charpeni commented on #12
Updated material design task, partial integration in PR #25.

Unfortunately, at this time react-native doesn't support modification on Android status bar without a package.

[2016-02-04 21:30] charpeni opened #26 "Unused/undocumented props"
`index.js` contains these unused or undocumented props :
- bgStyle - [index.js:164](https://github.com/react-native-simple-router-community/react-native-simple-router/blob/a53230ab5a6e2e2923983b9787b2e47b330f81b6/index.js#L164)
- statusBarColor - [index.js:190](https://github.com/react-native-simple-router-community/react-native-simple-router/blob/a53230ab5a6e2e2923983b9787b2e47b330f81b6/index.js#

[2016-02-04 21:53] charpeni opened #27 "Expensive view"
@AnNOtis https://github.com/MikaelCarpenter/gb-native-router/pull/57

Any news on that?

[2016-02-05 12:20] iplus26 commented on #21
@Amunds Not works for me... :sob:

[2016-02-08 20:48] charpeni commented on #12
Should we add a package like this one (https://github.com/NishanthShankar/react-native-android-statusbar) to support it ? Or wait until react-native support it.

[2016-02-09 15:14] charpeni opened #30 "onWillFocus & onDidFocus has been deprecated"
`onWillFocus` supplied to `Navigator` has been deprecated. Use `navigationContext.addListener('willfocus', callback)` instead.

`onDidFocus` supplied to `Navigator` has been deprecated. Use `navigationContext.addListener('didfocus', callback)` instead.

Can be related to #15.

[2016-02-09 17:15] CreativeManix opened #31 "Unable to install using NPM 3"
Hi I am unable to install using npm

First I got this error while installing
react-native-simple-router@0.6.0 requires a peer of fbemitter@^2.0.0 but none was installed.

Then I installed fbemitter  (I am not sure if that is correct)

After that I got below error while running the app

Unable to resolve module fbemitter from /Users/.....

Please help

[2016-02-09 17:17] davidLeonardi commented on #31
Delete the node_modules/flux/node_modules/fbjs folder manually and be happy.
On Tue, 9 Feb 2016 at 18:15, CreativeManix notifications@github.com wrote:

[2016-02-09 18:00] charpeni commented on #31
Unfortunately, it's a react-native issue and not from us.
https://github.com/facebook/react-native/issues/5390#issuecomment-172679236

[2016-02-09 20:07] charpeni commented on #12
Since react-native 0.20.0-rc1 :
http://facebook.github.io/react-native/releases/0.20/docs/statusbar.html#content

[2016-02-10 10:17] CreativeManix commented on #31
Thanks @charpeni  The link you provided helped lot.

I followed the step you provided, and additionally

https://github.com/facebook/react-native/issues/5390#issuecomment-178170919

Everything fixed for now :+1:

[2016-02-10 20:24] #31 closed, assigned to nobody

[2016-02-10 23:30] miknonny commented on #21
1.

2.

3.
 restart the package manager
4.

You might need to restart the package manager again....

[2016-02-10 23:35] miknonny commented on #21
this works for me...

[code]

restart the packager

[2016-02-11 11:44] CreativeManix opened #32 "On Android NavBar height looks more"
IOS it is fine, because the device battery,wifi etc.. displayed.

But On Android it looks odd. I try to set height for header but that is hiding the title. Not sure what is the better way to do this. Please help.

[2016-02-11 15:01] charpeni commented on #32
Hi @CreativeManix,

I fixed this issue a few days ago, these changes are not available on npm for the moment, it will be deployed on npm with release 0.7.0.

You can use the latest version with `npm install git://github.com/react-native-simple-router/react-native-simple-router.git --save`

[2016-02-12 16:43] deresegetachew opened #33 "Cant Hide NAV bar on first page and make it visible on second page"
The First page we are gone Route to needs to use `<Router />` and the documenation indicates that if we use hideNavigationBar: it Hides the navigation bar, **always** ; What this means is if we hide it on `<Router />` we can never get it back .

Lets assume a use case where this way of doing things can make life very hard:

Splash page with a button that says Register and Signin; we don't want to

[2016-02-12 17:27] MosesEsan commented on #33
+1

[2016-02-12 17:30] sethx commented on #33
I personally use an empty string as name property on the splash screen...
not ideal, but a fairly decent hack.

I also style the header the same solid color as the background. Note that i
don't use a background image.

But I hear you, it's something that's been nagging me as well.
I just need some time to implement it!

Feel free to contribute a patch if you'd like.

On Fri, Feb 12, 2016 at 6:27 P

[2016-02-12 17:41] charpeni commented on #33
I don't use `hideNavigationBar` on Router component, instead my SplashScreen route contains the following props : `trans` & `hideNavigationBar`.

[2016-02-12 20:42] davidLeonardi opened #35 "Deprecation of onWillFocus in Navigator warnings in v0.20 rc1"
![screen shot 2016-02-12 at 9 42 14 pm](https://cloud.githubusercontent.com/assets/221954/13019760/83893f38-d1d1-11e5-91de-b2fa92750361.png)

[2016-02-12 20:43] charpeni commented on #35
Duplicate of #30.

[2016-02-12 20:43] #35 closed, assigned to nobody

[2016-02-12 20:44] davidLeonardi commented on #35
Damn didnt notice that. sorry!
I hope to find some time to fix this this weekend, and let's make a release then as well.

[2016-02-12 20:56] charpeni commented on #30
I removed this from Navigator component :

[code]

I added this in `index.js`

[code]

It seems to work, except on the first route, I don't know why.

[2016-02-13 14:44] sethx commented on #12
@charpeni : Are you on discord?

[2016-02-13 14:51] davidLeonardi commented on #27
bumping to next potential release due to inactivity.

[2016-02-13 15:22] davidLeonardi commented on #30
It seems it's because we still pass onWillFocus as a prop to the navigator.
Am fixing this now.

[2016-02-13 15:28] charpeni commented on #12
@sethx No.

[2016-02-13 15:29] sethx commented on #12
i'm taking a look at the deprecation / route issue .
you mentioned you have added some code, yet i don't see it.
Shall i just copypaste that snippet into index.js and commit it myself?

[2016-02-13 15:30] sethx commented on #12
Discord --> http://www.reactiflux.com/

[2016-02-13 15:30] sethx commented on #12
find me as @sethx

[2016-02-13 16:01] davidLeonardi commented on #30
@charpeni The first route doesn't get cought because the event listeners are attatched too late. :)

[2016-02-13 16:43] davidLeonardi commented on #30
Seems like a chicken and egg problem to me.
The navigationContext is instantiated in Navigator in componentWillMount, which is invoked after the componentWillMount in index.js .
As such, componentWillMount is too early, and componentDidMount is too late to attach the event listeners.
I'm really unsure what do do at this point.

[2016-02-13 17:27] davidLeonardi commented on #30
Spent a while investigating options, and have no other ideas.
Will commit more or less what was your code, and we can take on further discussion in the review.

[2016-02-13 18:07] davidLeonardi commented on #15
I've been looking at this. Unfortunately pop/push and such do not emit events at a navigator level, and as such there is nothing to attach to.
Another solution is to use AOP and to use advice to have before/after such events.

I'll implement this and lets see how it behaves :)

I've been looking at https://www.npmjs.com/package/aspect-js to add support for this, does anyone have any opinion on it?

[2016-02-13 18:09] davidLeonardi commented on #21
Removed the fbmitter from the dependencies, so this is no longer a react-native-simple-router issue.

[2016-02-13 18:09] #21 closed, assigned to nobody

[2016-02-13 18:11] davidLeonardi commented on #30
Solved, but i ran into the same caveats as @charpeni , namely that the initial route events don't fire, when the navigator is first instantiated.
They do when one returns to the initial route, so personally I don't see this as much of an impediment.

[2016-02-13 18:11] #30 closed, assigned to nobody

[2016-02-13 19:44] davidLeonardi commented on #24
Fixed in #41

[2016-02-13 19:44] #24 closed, assigned to nobody

[2016-02-13 19:45] davidLeonardi commented on #15
Implemented this in #41

[2016-02-13 19:45] #15 closed, assigned to nobody

[2016-02-13 19:54] #26 closed, assigned to nobody

[2016-02-13 19:55] davidLeonardi commented on #33
Closing as @charpeni supplied valid description on how to fix using existing configuration options

[2016-02-13 20:00] davidLeonardi commented on #10
I've just switched the image back to the original one. This can be improved in the future, but for now it looks better than before.
Also, i don't know how to make such a gif :)

[2016-02-13 20:00] #10 closed, assigned to nobody

[2016-02-13 20:27] deresegetachew commented on #33
This Issue Should not be closed! @charpeni  can you give us an example please;
if @charpeni  did it in such a way that :

define <Router /> index.ios.js and it routes to splash and in splashes componentDidMount method he calls another toRoute to his page with `trans` and `hideNavigationBar` it didnt work for me;

the work around ; which is not a workaround at all is defining something like this wi

[2016-02-13 20:54] davidLeonardi commented on #33
@derese, that's not what @charpeni meant.

[code]

Please note the presence of the undocumented noStatusBar option [whoops!]
Will document that now :)

But you want it on a per route level:

[code]

[2016-02-13 21:00] deresegetachew commented on #33
@sethx that wouldn't solve the problem; please try a scenario where you have a full page image like a carousel on your first page. that wouldn't solve the problem. What that will do is hide the navigationBar **always** and that is also mentioned in the documentation; the problem is being able to hide it on the first page while being able to make it visible on the follow up pages.

i.e. first page

[2016-02-13 21:18] deresegetachew opened #44 "How to pass parameters to customAction callback methods"
thats the documentation it is not mentioned any where how to pass parameters; can we pass parameters ?

[2016-02-13 21:24] davidLeonardi commented on #33
@derese please see the updated comment.
does that work?

That configuration is per route.

[2016-02-13 21:31] davidLeonardi commented on #44
It's simply a method that is effectively a callback.

[2016-02-13 21:38] deresegetachew commented on #44
@sethx `this.props.customAction("someActionName")` thats how i am calling it and i tried different ways to pass it parameters but wasn't successful;  if possible please drop me a line or two on how to; thats if you have already tried it.

[2016-02-13 21:47] deresegetachew commented on #33
@sethx it works perfectly now thank you!

[2016-02-13 21:47] #33 closed, assigned to nobody

[2016-02-13 21:48] davidLeonardi commented on #44
I havent used it in my projects, i'll take a look at it tomorrow.

[2016-02-13 21:51] davidLeonardi commented on #44
Glanced over the source code, the options are invoked correctly, i don't see why it doesnt work...

Share some code!

[2016-02-13 22:03] deresegetachew commented on #44
[code]

......
.......

[code]

///// calling it  //////

`this.props.customAction("UserisAuthenticated",{true});`

[2016-02-13 22:07] davidLeonardi commented on #44
have you tried this.props.customAction({.. an object ..}) ? we only pass ONE argument down the line.

[2016-02-13 22:15] deresegetachew commented on #44
What about the String parameter we are passing which is the name of our method; i can try with out it; but i guess thats how it identifies the method name the things is the way i see it we can hook up multiple customAction methods to our router and the way to identify one from the other is this name parameter.

[2016-02-13 22:17] davidLeonardi commented on #44
Honestly I'm not really sure, was just a shot in the dark.
I'll give it a shot in the next days (not tonight and not tomorrow)

On Sat, Feb 13, 2016 at 11:15 PM Derese notifications@github.com wrote:

[2016-02-13 22:22] deresegetachew commented on #44
@sethx Thank you!

[2016-02-14 08:53] liamzebedee opened #45 "More informative error messages"
Hey guys, thanks so much for maintaining this library! Filing this as a note (who knows I'll probably implement it later).

Just did a code refactor so that it's in different ES6 modules. Used the wrong import syntax, so one of my components was `undefined`. Got an unhelpful error message like so:

![Imgur](http://i.imgur.com/zw5ow56.png)

Would help to know that the component property was undefin

[2016-02-14 11:55] davidLeonardi opened #46 "Release 0.7.0 and push it out to NPM"
Release should be done soon. Possibly today?
@charpeni, @ericraio, @johannhof  what do you say?

[2016-02-14 12:06] johannhof commented on #46
Good to go from me. Unfortunately this is one of the things that's harder to sync in a community-project.

So I would say patch (0.7.x) and feature (0.x.0) releases can be published at will and ideally as often as possible. :)

We should also think about what would constitute the library as stable and ready for 1.0, as that would make the whole semver a lot easier.

[2016-02-14 12:18] davidLeonardi commented on #46
@johannhof can you plz review the PR's i did ?

Then all that's pending is the stuff that @charpeni is working on for android, but that could land in 0.7.1 when that's done..

I also would agree on pushing out more often to NPM.

[2016-02-14 15:40] davidLeonardi commented on #45
I personally don't think that this is a Router issue, it's navigator that's failing on you, not router.

[2016-02-14 15:40] #45 closed, assigned to nobody

[2016-02-14 18:14] anhvn opened #49 "Cannot call "this.props.toRoute" in titleComponent"
# Hi,

I'm writing an application that need to navigate to other page from titleComponent in the router (actually it is a searchBar).  But I cannot call "this.props.toRoute" in this component. This function is called successfully in leftCorner but is undefined in titleComponent.

So what can I do to call toRoute function in titleComponent?

The code of searchBar

[code]

The index code

[code]

Th

[2016-02-14 20:06] jvlobo opened #50 "Going back by swiping. Make the area to start swiping bigger."
Hi there!

<img width="416" alt="untitled-1" src="https://cloud.githubusercontent.com/assets/5671420/13036089/7704ae58-d35e-11e5-9390-f3fb36264773.png">

I'm gonna try to explain it with an image.

Now, when I want to go back in my app with **react-native-simple-router** by swiping, the area where I have to start swiping is really small (light blue in the image). What I'd like to do is to make thi

[2016-02-14 20:41] davidLeonardi commented on #50
I'm pretty sure this is an iOS specific property, and defined by the
gesture itself, rather than JS logic.

On Sun, Feb 14, 2016 at 9:06 PM JV Lobo notifications@github.com wrote:

[2016-02-14 20:45] jvlobo commented on #50
So do you think it is not possible to change it?

In Twitter, for example, you can swipe from a bigger area.

Thanks.

[2016-02-14 22:42] ericraio commented on #12
:+1:

[2016-02-14 23:57] ericraio commented on #46
man, my notifications were turned off, sorry for the lack of activity.

We should identify a road map for 1.0.0, thoughts?

[2016-02-15 12:17] liamzebedee commented on #45
Sorry there @sethx - just picked up on that!

[2016-02-15 12:19] davidLeonardi commented on #50
@jvlobo seems that sceneconfig can be used to configure gestures, wanna take a look into this?

[2016-02-15 15:53] charpeni commented on #32
I will close this issue, if this doesn't solve your issue please reopen it.

[2016-02-15 15:53] #32 closed, assigned to nobody

[2016-02-15 20:33] jvlobo commented on #50
Thanks for your answer @sethx

I've been looking for some info in **React Native** doc but it seems like it doesn't provide so much information about **SceneConfigs**

Do you know how to set properties on that?

Thanks!

[2016-02-15 22:12] CreativeManix commented on #32
Yes Please close. I will test this after the 0.7.0 release.

[2016-02-16 02:20] ericraio commented on #50
You should be able to configure the SceneConfigs directly onto the Navigator, we may need to set some defaults

[2016-02-16 03:37] liamzebedee commented on #50
Yeah, if you change the [`edgeHitWidth` variable](https://github.com/facebook/react-native/blob/f48961388e7eb58a52164f7bf9809b5af11e4f43/Libraries/CustomComponents/Navigator/NavigatorSceneConfigs.js#L458) to something larger that should fix it.

[2016-02-16 20:59] jvlobo commented on #50
Thanks for your help guys.

Should I change the variable directly in **NavigatorSceneConfigs.js** or could I set it in my code?

Thanks.

[2016-02-16 22:36] davidLeonardi commented on #50
Set it in your code as a scene config...

On Tue, Feb 16, 2016 at 9:59 PM JV Lobo notifications@github.com wrote:

[2016-02-18 08:31] ghost opened #51 "Pop to previous view"
Is there anyway to pop back to the previous view programatically?

[2016-02-18 09:11] kevando opened #52 "Broken style in the twitter example"
Changing this.styles to just styles fixed it.

Can I push the change? I've never contributed a project before -_-

[2016-02-18 09:36] davidLeonardi commented on #52
Where? I'll fix it myself if you tell me the line number

[2016-02-18 09:38] davidLeonardi commented on #52
Nvm, saw and fixed it myself.

[2016-02-18 09:38] #52 closed, assigned to nobody

[2016-02-18 09:40] davidLeonardi commented on #51
### Navigator Methods
 *
- If you have a ref to the Navigator element, you can invoke several methods
- on it to trigger navigation:
  *
-  - `getCurrentRoutes()` - returns the current list of routes
-  - `jumpBack()` - Jump backward without unmounting the current scene
-  - `jumpForward()` - Jump forward to the next scene in the route stack
-  - `jumpTo(route)` - Transition to an existing scene w

[2016-02-18 09:40] #51 closed, assigned to nobody

[2016-02-18 12:27] davidLeonardi commented on #46
I'd love to have configuration for routes IN the route itself.
Let me explain: within the route, i'd like the route to set its title, and some other props. This could occur in an early part of the component lifecycle [componentwillmount perhaps] and the API for this would have to be defined somehow.

[2016-02-18 19:46] BigPun86 opened #53 "Wrap Drawer around Router"
Hey there. I am trying to wrap the react-native-side-menu component around the Router, so it is on top and not under the navBar. I really can´t figure out where the right place is to put it and especially how to pass the Router props down/up to the SideMenu Routes. This was my try:

[code]

Now how can i pass toRoute props to Components.Menu?

[2016-02-18 21:34] charpeni commented on #49
Hi @anhvn.

`toRoute` isn't available from titleComponent at this time, it will be in the next release.

Until then, you can use `titleProps` to pass the `toRoute` function. Unfortunalty, it will not work for first route.

[code]

[2016-02-18 21:43] charpeni commented on #53
I don't know if it's the best answer or if it will work, but you could try using reference.

[code]

From `Components.Menu` :

[code]

Or by using directly the onForward function :

[code]

If it doesn't work, let me know I will check it out.

[2016-02-19 00:36] ericraio commented on #53
+1 for @charpeni response, you'll want to add a ref to it and `<Components.Menu router={this.ref.router} />`

[2016-02-19 00:54] charpeni commented on #46
Good job guys. We are ready to release 0.7.0 !

[2016-02-19 00:56] charpeni commented on #12
I close this issue, StatusBar delayed to the next release.

[2016-02-19 00:56] #12 closed, assigned to nobody

[2016-02-19 00:59] davidLeonardi commented on #46
i fixed the conficts in the branch. someone press the merge button plz

[2016-02-19 01:01] charpeni commented on #46
Merged.

I just notice an issue with few breaking lines in the README.

[2016-02-19 01:02] davidLeonardi commented on #46
Oh? wanna fix it? I've just deleted old branches here on github.

[2016-02-19 01:04] charpeni commented on #46
I do it

[2016-02-19 01:09] davidLeonardi commented on #46
-Full conversion to ES6
-Added additional Events, so that router can be used as a central event hub
-Removed breaking dependency on fbjs's fbemitter
-Fixed styling issues
-Restored Android support

wut else?

[2016-02-19 01:10] charpeni commented on #46
This seems complete.

[2016-02-19 01:12] sethx commented on #46
how to update npm?

[2016-02-19 01:14] sethx commented on #46
nvm, in progress.

[2016-02-19 01:27] davidLeonardi commented on #46
AAaand it's gone.
https://www.npmjs.com/package/react-native-simple-router

[2016-02-19 01:27] #46 closed, assigned to nobody

[2016-02-19 01:29] davidLeonardi commented on #46
Congrats guys, well done! :dart:

[2016-02-19 07:35] ericraio commented on #27
That PR has a lot of unnecessary changes irrelevant to the feature it self.

[2016-02-19 08:34] BigPun86 commented on #53
I understand what both of you mean, but unfortunately it won´t work...

[code]

I might need to dig in to using refs but right now i am getting a undefined is not an object for this.ref.router

[2016-02-19 14:15] charpeni commented on #53
this.ref**s**.router

`menu={<Components.Menu router={this.refs.router} />}`

[2016-02-19 14:28] kaidenvo opened #56 "Broken release"
Line 49/50 throwing function not found:

this.onDidFocus = this.onDidFocus.bind(this);
this.onWillFocus = this.onWillFocus.bind(this);

Can this be fixed quickly?

[2016-02-19 14:42] charpeni commented on #56
Hi @kaidenvo,

I fixed it in 0.7.1, sorry for the inconvenience.

[2016-02-19 14:42] #56 closed, assigned to charpeni

[2016-02-19 16:17] davidLeonardi commented on #56
Sorry for missing this! :(

On Fri, Feb 19, 2016 at 3:42 PM Nicolas Charpentier <
notifications@github.com> wrote:

[2016-02-19 16:37] ericraio opened #58 "Unit Testing"
How should we handling unit testing this project? Should we include this as apart of the definition of done?

[2016-02-19 21:24] BigPun86 commented on #53
Upps, okay. Did you get it working or is this just theory? It didn´t work on my App.
1. pass refs router to Menu Component

    router={this.refs.router}
2. Pass ref='router' to Router Component

   ref={'router'}

I get the error "cannot read property of undefined" in the _toRoute function:

[code]

[2016-02-20 11:14] jvlobo commented on #50
Thank for your help guys.

I've configured a Scene config as it sets here: https://rnplay.org/apps/HPy6UA

The thing is that in the example, they use a **<Navigator>** component. Because I'm using **React Native Simple Router** I set the **configureScene** in my **<Router>** component:

`<Router firstRoute={dashboard} hideNavigationBar={true} noStatusBar={true} configureScene={this._configureScene

[2016-02-20 11:14] davidLeonardi commented on #58
Yes please. Does anyone of you have experience with unittesting rn stuff?

On Fri, 19 Feb 2016 at 17:37, Eric Raio notifications@github.com wrote:

[2016-02-20 12:55] lucaboieru commented on #50
I have the same issue with the swipe area. I was wondering how can I have my router configured such that it'll have the default iOS start swipe area width. I'm really new to to RN and mobile development and I would really appreciate if you could guide me step-by-step or show me some code.

[2016-02-20 14:39] lucaboieru commented on #50
After some troubleshooting i found out how to configure the swipe area width.
I made this function

[code]

and passed it as a prop to the router
`configureScene={this._configureScene()}`

[2016-02-20 15:45] jvlobo commented on #50
Hey @lucaboieru

Have you passed it like this:

`<Router firstRoute={dashboard} hideNavigationBar={true} noStatusBar={true} configureScene={this._configureScene()}/>
`

I set the `_configureScene()` function above my render function and passed it as a prop but it seems like it doesn't work

[2016-02-20 15:54] lucaboieru commented on #50
@jvlobo that's how i passed the new config. You can try setting the `edgeHitWidth` to something like 200 to see clearly if it works or not, because setting it to 50 like i did might seem like it does not work. If that still does not work we'll have to find another solution.

[2016-02-20 15:59] lucaboieru opened #59 "NavBar components missing on the initial render"
When I open my app or the twitter-example provided by you the navigation bar is empty until the route is changed and after that everything works just like expected.
![img_1373](https://cloud.githubusercontent.com/assets/4629087/13197605/8631840e-d7fb-11e5-9ec8-782987008f8c.jpg)

Do you have any idea what could cause this?

[2016-02-20 16:10] jvlobo commented on #50
Yes, I set something like 200 or 300 to test it, but it seems like it doesn't work! :/

This is my code: http://puu.sh/neY0J/16af6f15f2.png

[2016-02-20 17:20] lucaboieru commented on #50
You have to call the function `_configureScene` such that it will return to the prop the new configuration to be passed to the Navigator. Notice my `()` at the end.
![screenshot 2016-02-20 19 18 12](https://cloud.githubusercontent.com/assets/4629087/13198048/f58a521c-d806-11e5-843b-86598610bfe3.png)

[2016-02-20 18:39] jvlobo commented on #50
Ok, It was wrong!!

Solved.

Thank you so much :)

[2016-02-20 18:51] #50 closed, assigned to nobody

[2016-02-20 19:08] charpeni commented on #59
Thanks for reporting, I confirm this is an issue.

I'm on it.

[2016-02-20 20:00] charpeni commented on #59
It's fixed, It will be available in the next release when a community member has accepted my pull request.

[2016-02-20 20:04] charpeni commented on #53
It's just a theory.

Can you try with this :

[code]

If it doesn't work, I will take a look this week.

[2016-02-20 20:05] charpeni commented on #58
Totally !

Not me :(

[2016-02-20 20:21] lucaboieru commented on #59
Thank you very much for the effort and the fast response!

[2016-02-20 20:24] BigPun86 commented on #59
+1

[2016-02-20 20:25] BigPun86 commented on #53
Okay thanks. Unfortunately its not working -> Cannot read property 'onForward' of undefined
When i debug the App then i have with this.refs an empty object...

[2016-02-20 20:56] andresn opened #63 "Eslint complains about missing props validation in HelloPage example class"
http://screencast.com/t/S6HOq3Ks

.eslintrc configured to:        "react/prop-types": 1,

Fixed by adding to HelloPage class:
    static propTypes = {
        toRoute: React.PropTypes.func
    }

[2016-02-20 21:15] ericraio commented on #58
I have a lot of experience testing JavaScript but not RN explicitly, I am sure it's not too hard. I should have some time tomorrow to take a look into this.

[2016-02-20 23:49] davidLeonardi commented on #59
merged

[2016-02-20 23:49] #59 closed, assigned to charpeni

[2016-02-20 23:50] davidLeonardi commented on #58
Same here, but I'd appreciate some input with someone who has some experience with RN specific testing.
Anybody of our users has some tried-and-tested setup they use professionally?

[2016-02-21 00:17] ericraio commented on #58
@sethx Yeah I agree. I did find this however. https://gist.github.com/jmreidy/4145809229195441d4d4

[2016-02-21 00:39] charpeni commented on #63
Thanks for reporting, i'm on it.

[2016-02-21 00:56] #63 closed, assigned to charpeni

[2016-02-21 00:57] charpeni commented on #59
Available in release v0.7.2.

[2016-02-21 09:49] fabianbormann opened #65 "Replace route from right component"
Hi,

is it possible to replace a route from the right component?
I want to use a "Logout" button component which redirects to the Login screen after
unset the credentials. But I get a Exception if I try to use this.props.resetToRoute.
this.props.toRoute works .. But I dont't want to see a "back" button.

[code]

Thank you!

[2016-02-21 13:17] lucaboieru opened #66 "Configurable width for the navbar title and corner button."
In my app I use not only icons, but also text for the corner buttons and something interesting happens. Here's a screenshot:
![screenshot 2016-02-21 15 07 29](https://cloud.githubusercontent.com/assets/4629087/13202719/6a1a3bdc-d8ad-11e5-8512-ba2a207cd2e3.png)

The title overlays the corner button. From my understanding that's because the title container has `flex: 6` [(here)](https://github.com/r

[2016-02-21 15:29] charpeni commented on #65
Hi @fabianbormann,

At this time, the only available function inside `leftCorner` and `rightCorner` is `toRoute()`. I will fix this soon.

Until then, you can pass the other functions with `rightCornerProps` along with `rightCorner` :

[code]

[2016-02-21 15:32] charpeni commented on #66
We will consider this.

PRs are welcome :)

[2016-02-22 01:08] charpeni commented on #58
http://reactkungfu.com/2015/07/approaches-to-testing-react-components-an-overview/

[2016-02-23 03:08] pedrodevoto opened #71 "Can't 'resetToRoute' from leftCorner component passing the same leftCorner button"
I have a project pretty much similar to the Twitter example. It is a ListView that has a button assigned to its leftCorner which takes you to a filter view. When you select the filters you want and apply them, you should be taken back to the ListView, with the filters applied.

I have tried to `resetToRoute` (passing the filter info with `passProps`, but when I specify the same `leftCorner`, I get

[2016-02-23 04:16] charpeni commented on #71
If you use `React.createClass()`, your render function in Filters.js must
be like this `render: function() {}`

Le lun. 22 févr. 2016 22:08, pedrodevoto notifications@github.com a
écrit :

[2016-02-23 08:08] johannhof commented on #71
That is actually fine, shorthand notation also works for object literals (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Method_definitions)

@pedrodevoto I find your `FiltersView` component rather suspicious. It doesn't have a render function, is that supposed to be this way?

[2016-02-23 12:19] pedrodevoto commented on #71
@johannhof I'm sorry, it does have. It has a few components to make the filtering (lists, text inputs, etc). When you click on "Appy filters", it triggers the `_applyFilters` function. I just simplified the code to what I thought was relevant.

[2016-02-23 17:34] BigPun86 opened #72 "How can i pop back the route?"
Hey there!

I was wondering how to just pop back a route like the title says. Is it possible to use React.Navigator.pop() or something? In my  app this module is just fabulous, but i coudn´t figure out how to jump...

[2016-02-23 17:47] BigPun86 commented on #72
Okay got it this working:

[code]

But how can i pop back to previous route without telling him to which component to go (
this.props.navigator.pop())

[2016-02-24 10:04] davidLeonardi commented on #72
`this.props.toBack(this.props.navigator);`

[2016-02-24 10:04] #72 closed, assigned to nobody

[2016-02-24 10:09] BigPun86 commented on #72
Upps, i use to try this.props.toBack(this.props.navigator.pop());

Thanks!!

[2016-02-24 10:09] davidLeonardi commented on #71
That error is usually thrown when a component is undefined within of a render method.

Can you debug your app and make sure that the components you try to render are indeed always defined to what you expect in the render loop?

[2016-02-24 10:10] davidLeonardi commented on #65
Fixed by #68

[2016-02-24 10:10] #65 closed, assigned to charpeni

[2016-02-24 10:11] davidLeonardi commented on #49
Closed due to landing of #68

[2016-02-24 10:11] #49 closed, assigned to charpeni

[2016-02-24 10:15] davidLeonardi commented on #27
Killing this issue due to inactivity.

Until then, you can simply wrap render-intensive code in :

`InteractionManager.runAfterInteractions(() => {
 //do stuff here
});`

[2016-02-24 10:15] #27 closed, assigned to nobody

[2016-02-24 10:17] davidLeonardi commented on #44
There is indeed nothing special about the arguments passed to customAction.
It's simply a variable, and assumes no string as a key.
As such, if more complex data structures are to be passed down, simply use an object.

[2016-02-24 10:17] #44 closed, assigned to nobody

[2016-02-24 10:36] davidLeonardi opened #73 "Release it! :)"
@charpeni can you plz release it to npm? I don't have my laptop with me today.

[2016-02-24 10:38] davidLeonardi commented on #73
Also, if people use ^0.7.0 they won't get 0.8.0, but they will get 0.7.3, amirite?
So perhaps we should release 0.7.3 instead of 0.8.0 ?

[2016-02-24 12:29] pedrodevoto commented on #71
@sethx I don't know, because I don't know exactly where the error is being produced. I know it is being thrown in the 6th line of _Filters.js_, whenever I uncomment the 2nd line of _FiltersView.js_. Might it be the reason that both components (Filter and FiltersView) require one another?

[2016-02-24 12:47] davidLeonardi commented on #71
If it's an empty object, then it's a symptom of a cyclic dependency, which may be solved by inlining one of the require's at execution time, rather than at a module level.

[2016-02-24 13:07] pedrodevoto commented on #71
@sethx solved! These are my new _Filters.js_ and _FiltersView.js_ files.

**Filters.js**

[code]

**FilterViews.js**

[code]

Thanks!

[2016-02-24 13:18] davidLeonardi commented on #71
Fixed as a module dependency issue rather than a routing component issue.

[2016-02-24 13:18] #71 closed, assigned to nobody

[2016-02-25 11:51] deresegetachew opened #74 "React.createElement: type should not be null, undefined, boolean, or number."
After updating from 0.6.0 to the latest 0.7.2; i am getting the following error's and the error is occurring when i return Router from my render method. i.e.

[code]

Warning: React.createElement: type should not be null, undefined, boolean, or number. It should be a string (for DOM elements) or a ReactClass (for composite components). Check the render method of `projectName`.

Element type is inv

[2016-02-25 12:14] deresegetachew commented on #74
The Problem was  :
`var Router = require('react-native-simple-router');`

and the solution is to use
`import Router from 'react-native-simple-router';`

[2016-02-25 12:14] #74 closed, assigned to nobody

[2016-02-25 12:34] davidLeonardi commented on #73
And it's out.

[2016-02-25 12:34] #73 closed, assigned to nobody

[2016-02-25 12:35] davidLeonardi commented on #58
/me thinks that react testing is different from react native testing.

I'd like to wait for some additional input from the community before making a decision.

[2016-02-25 13:27] deresegetachew opened #75 "is titleProps working for anyone ?"
is titleProps working for anyone ?
i am assuming titleProps is working like passProps;
this is my sample code:

`this.props.toRoute({titleComponent:titlecomp,titleProps:{title:"test"},headerStyle:{backgroundColor:'#299CCA'},hideNavigationBar:false,trans:false,noStatusBar:false,component:require('./ContactDetail'),passProps:{data:rowData,callBack:this.deleteContact.bind(this),token:this.props.data.

[2016-02-25 15:54] charpeni commented on #73
@sethx
Sorry for the delay, I was out.

I think we should publish it as 0.8.0 because we added new features. Patch (0.0.X), feature (0.X.0).
http://semver.org/

[2016-02-25 15:55] davidLeonardi commented on #73
too late :(
unless we re-release?

On Thu, Feb 25, 2016 at 4:54 PM Nicolas Charpentier <
notifications@github.com> wrote:

[2016-02-25 15:56] charpeni commented on #73
I think we should do that

[2016-02-25 15:57] davidLeonardi commented on #73
Go for it then.
On Thu, 25 Feb 2016 at 16:56, Nicolas Charpentier notifications@github.com
wrote:

[2016-02-25 16:27] charpeni commented on #73
v0.7.3 is unpublished.
v0.8.0 is published.

[2016-02-26 13:30] davidLeonardi opened #77 "Improve documentation for 0.10.0 !"
Dear community of users,

We would like to ask for your help and contribute to better documentation for this module.

More examples, better description of features, and making sure that everything is described with an example is what we are aiming for.

If you feel like contributing, please create a PR.
Thank you!

[2016-02-28 07:06] kevando opened #78 "Error calling replaceRoute"
https://i.imgur.com/sp87ydX.png

I call this.props.toRoute and it works fine but not replaceRoute

[2016-02-28 16:21] tristangodfrey commented on #78
Same issue here, on both `0.8.0` and `0.8.1`

[2016-02-28 16:30] davidLeonardi commented on #78
What code triggers this?

On Sun, Feb 28, 2016 at 5:21 PM Tristan Godfrey notifications@github.com
wrote:

[2016-02-28 16:41] tristangodfrey commented on #78
I use functions that return route objects, this for example:

[code]

Is enough to break it for me. The required arguments are exactly the same as for `toRoute` right?

Logging the props does display everything as you would expect it, `replaceRoute` is there and is a function, until it is called at which point it says: `_this3.replaceRoute is not a function`.

[2016-02-28 16:42] davidLeonardi commented on #78
The signature is the same, yes. Looking into it.

[2016-02-28 16:50] davidLeonardi commented on #78
Fix on its way. Look for a new release within a couple of minutes.

[2016-02-28 16:50] #78 closed, assigned to nobody

[2016-02-28 16:55] davidLeonardi commented on #78
Released 0.8.2 , find it on NPM

[2016-02-28 16:57] tristangodfrey commented on #78
Thanks @sethx , remind me to buy you a beer when I'm not broke anymore!

[2016-02-28 19:58] davidLeonardi commented on #78
@tristangodfrey if you live in Amsterdam, you can buy me one anytime :beers:

[2016-02-28 21:19] ChangJoo-Park opened #79 "pass data page to navigator."
I take a look around twitter-example.
I try to edit something more,
TweetBig component has data. but I want to pass data edititem component (right upper side pencil).
How do I this?
additionally, If I new tweet form. fill the form and touch right upperside submit icon. how can I deliver form data to submit icon component?

![Detail](http://i.imgur.com/uKAvlxi.png)

[2016-02-28 21:54] ChangJoo-Park commented on #79
I checked document. find rightCornerProps :+1:

[2016-02-28 21:54] #79 closed, assigned to nobody

[2016-02-29 02:23] kevando commented on #78
Thanks @sethx ! your responsiveness is quite impressive!

[2016-02-29 15:25] anhvn opened #80 "How can I handle BackAndroid with react-native-simple-router?"
Hi Developer Team,

I'm writing an application that need call the toBack() in sub screen, and exit app in first screen when press back button in Android phone.

Would you mind helping me some guildline to implement this.

Thank you so much!

[2016-02-29 16:01] 3210jr commented on #80
+1

[2016-02-29 19:25] ChangJoo-Park opened #82 "Handle view state from navigator?"
Hello, I tried to make some form based application,

How I get component's state from navigator?

![Navigator](http://i.imgur.com/4ISnjWB.png)

[2016-02-29 20:13] cpjolicoeur commented on #80
The README file documentation lists how to do this: `handleBackAndroid` is a boolean prop you give to `<Router />`

[2016-02-29 21:01] ChangJoo-Park opened #84 "sceneConfig with swipe, animation"
I set sceneConfig with Navigator.SceneConfigs.VerticalUpSwipeJump.

in this situation, route to back action is not make sense.

If I swipe left to right, but view is up to down.

[2016-03-01 05:56] anhvn commented on #80
@cpjolicoeur I used this but it did not work! :(

[code]

[2016-03-01 06:04] anhvn opened #85 "`onWillFocus` supplied to `Navigator` has been deprecated."
Hi,

I'm using react-native: 0.20.0 and I see the warning like this. Does it affect the application? Can I ignore this?

<img width="465" alt="screen shot 2016-03-01 at 1 00 02 pm" src="https://cloud.githubusercontent.com/assets/4526322/13419078/1b26c5d8-dfae-11e5-8b9d-596b6c32328f.png">

[2016-03-01 08:22] davidLeonardi commented on #85
Please upgrade to the latest version. This has been fixed already
On Tue, 1 Mar 2016 at 07:04, anhvn notifications@github.com wrote:

[2016-03-01 09:52] 3210jr commented on #80
@anhvn
Hey, I just cleaned my cache and it works like a charm!

run `npm clean cahce`
then stop your package manager and run `react-native run-android`

Hope you have the same luck!

[2016-03-01 14:25] pedrodevoto commented on #80
Same here. `handleBackAndroid` does not seem to work for me. Any suggestions or anywhere I could take a look? There is nothing in the logs.

[2016-03-01 14:26] cpjolicoeur commented on #80
Can you both (@pedrodevoto and @anhvn) describe what _is_ happening a bit more, because the code works fine for the rest of us.  What happens when you have `handleBackAndroid={true}` and then proceed to use the back button in your app navigation?

[2016-03-01 14:30] pedrodevoto commented on #80
@cpjolicoeur it just takes me to the home screen and it seems to clear the route stack, because when I reopen it, it appears back at the first route.

[2016-03-01 15:11] #85 closed, assigned to nobody

[2016-03-01 15:12] anhvn commented on #80
@3210jr Thanks, it worked for me!

[2016-03-01 15:40] pedrodevoto commented on #80
I was using an outdated version of react-native. Upgraded to 0.20 and works fine!

EDIT: Was using 0.14.2

[2016-03-01 16:44] #80 closed, assigned to nobody

[2016-03-01 16:50] davidLeonardi commented on #84
I'm really not sure what you're suggesting here.
The router does not know about the sceneconfig setting...
Also, gesture handlers come from navigator itself, and as you are overriding animation behaviour, i'd suggest you override gesture behaviour as well.

See #50 for some gesture related information, but in the end, you're customizing behaviour, so you should customize it all the way.

[2016-03-01 16:50] #84 closed, assigned to nobody

[2016-03-01 16:52] davidLeonardi commented on #82
The navigator does not handle state, it handles a stack of routes.
Your application should manage state.

[2016-03-01 16:52] #82 closed, assigned to nobody

[2016-03-01 23:09] charpeni commented on #75
You're right, titleProps wasn't working. It's fixed by release v0.8.3.

`this.props.title` is the right way to access props.

[2016-03-01 23:09] #75 closed, assigned to charpeni

[2016-03-02 09:53] davidLeonardi commented on #66
This is in progress in #83

[2016-03-03 04:15] rickli1989 opened #88 "NavigationBar transition when swipeback"
Is there any way to do the native transition(fadeIn, fadeOut) for navigation bar when swipe back. The current behaviour is to replace to title when entering the view, but when swipe back action stays in the middle, the title isn't changing as native does.

[2016-03-03 13:11] charpeni commented on #58
https://github.com/airbnb/enzyme/blob/master/docs/guides/react-native.md

[2016-03-03 13:29] AntonNiklasson opened #89 "Back button style via prop"
I would like to be able to apply a style to the back button component by giving a style object. Exactly like you can do with `titleStyle`. Something like adding a `backStyle` prop perhaps.

Thoughts on this?

[2016-03-03 13:55] davidLeonardi commented on #58
That's interesting... will look at that over the weekend.
nice find!

[2016-03-03 13:56] davidLeonardi commented on #88
Yes, you use sceneConfig.
See #50

[2016-03-03 13:56] #88 closed, assigned to nobody

[2016-03-03 13:58] davidLeonardi commented on #89
Why not just use a custom component for that?

[2016-03-03 14:04] AntonNiklasson commented on #89
In this case I just wanted to change to text color. I saw the `titleStyle` and expected there to be a `backStyle` or something after that.

[2016-03-03 14:30] reergymerej opened #90 "Use Route ID Instead of Name"
It would be nice to use an ID instead of name to identify routes.  In some cases, you'd want to use the same title for multiple routes.  When observing the `routeEmitter`, you only get the name (aka user-friendly title), so you don't know which route was triggered.

For now, I'm using the `titleComponent` and `titleProps` to separate the name from visible title.  It works, but it's extra cruft.

[2016-03-03 14:53] davidLeonardi commented on #90
Feel free to make a PR :)

On Thu, Mar 3, 2016 at 3:30 PM Jeremy Greer notifications@github.com
wrote:

[2016-03-03 14:53] reergymerej commented on #90
@sethx done and done!

I left it open and just included the route in addition to the route name.  This way, existing code won't break and devs can query whatever they want instead of introducing an `id` requirement.

[2016-03-03 15:38] davidLeonardi commented on #90
Please refer to discussion ongoing in #91

[2016-03-03 20:04] charpeni commented on #89
I'm agree with @sethx, if you want a custom backButton, you should use `backButtonComponent`.

But I can see the use case with text color, PRs are welcome :)

[2016-03-04 07:30] eljago commented on #53
[code]

I tried this and the main view animates to the left, with the navigation bar staying in place. Also got the following warning:

[code]

[2016-03-05 13:55] tristangodfrey opened #92 "Question: Tab bar implementation"
I'm not quite sure how I should implement a tab bar to allow navigation between a small group of routes.

Should I achieve this by nesting a `Router` inside of the main router? So I'll have a single `tab-router` route, which loads my tab-bar + router component. Or is there a better way of doing this?

[2016-03-06 01:43] mikehuebner opened #93 "Issue with Modules in Webpack / Object Is Not Extensible"
Hey everyone!

Trying to use this and I'm wondering if I'm doing something wrong. Here is the error I'm getting.

[code]

I took a look at Index.js and there is `style.ios.js` and `style.android.js` but it is only requesting `./styles`. Is webpack suppose to figure out if we need ios or android? If so, how do I go about fixing that?

EDIT:
After just hardcoding `ios` to the styles (will change if

[2016-03-08 16:10] skizzo opened #94 "Usage with redux / connect / mapStateToProps"
Hi,
when pushing a new route in a component screen that has been connected to redux (by setting propTypes, calling mapStateToProps and connect), the component doesn't seem to be connected to redux any more since I get warnings that some of my required prop types (taken from redux) have not been specified / errors when trying to use these values. This is not the case when setting the firstRoute pro

[2016-03-08 18:09] charpeni commented on #94
From me, I can't help you at this time, I never used redux.

Maybe @ericraio can help you ?

[2016-03-08 18:16] davidLeonardi commented on #94
-1 on this too. I don't use redux :(

On Tue, Mar 8, 2016 at 7:09 PM Nicolas Charpentier notifications@github.com
wrote:

[2016-03-09 19:54] skizzo opened #95 "Nested routers"
Hi,
is it possible to nest routers?

For example,
1. my **root router** would handle modals but mainly display
2. a component _ScreenWithTabBar_, which itself contains
1. my **tab router** which is capable to replace routes based on the selected tab, and
2. my _ComponentTabBar_ which shows buttons for the routes in **tab router**

Saving global references to the router objects themselves (via the

[2016-03-09 19:56] charpeni commented on #95
Can be related to #92 ?

[2016-03-09 19:57] skizzo commented on #95
Absolutely, thanks.

[2016-03-09 20:05] skizzo commented on #92
@tristangodfrey I tried this approach by creating a Router component inside a View, but I don't know how to access my 2 routers's toRoute() or toBack() functions.. Were you able to work it out?

[2016-03-09 20:23] tristangodfrey commented on #92
@skizzo This is roughly how I solved it, just a bunch of snippets but it should give you the general idea

[code]

[2016-03-09 20:31] charpeni commented on #92
I will need this feature soon, I'll look it in a few days and I'll be back with a feedback.

Using method of `Navigator` with refs will works, maybe our functions should be accessible too.

Thanks for the snippets @tristangodfrey.

[2016-03-09 20:32] charpeni commented on #95
I'll close this issue since we have a duplication.

[2016-03-09 20:32] #95 closed, assigned to nobody

[2016-03-10 12:51] AntonNiklasson commented on #89
I get that. Might submit PR some other day. Closing.

[2016-03-10 12:51] #89 closed, assigned to nobody

[2016-03-13 19:25] ahmed1490 opened #97 "How to run the twitter example?"
Generally I see this ios/ and android/ folder in examples.

[2016-03-13 19:42] charpeni commented on #97
@ahmed1490, please refer to [A more advanced example: Twitter app](https://github.com/react-native-simple-router-community/react-native-simple-router#a-more-advanced-example-twitter-app) section of README.

[2016-03-13 19:44] ahmed1490 commented on #97
I was wondering if i could run without having another app inited.

[2016-03-13 19:44] #97 closed, assigned to nobody

[2016-03-14 10:14] davidLeonardi commented on #93
This is not a router related issue, so closing this to de-clutter.
I suggest you post this on stackoverflow or on the react-native issue tracker.

[2016-03-14 10:14] #93 closed, assigned to nobody

[2016-03-14 13:35] charpeni commented on #90
PR #91 was merged, I'll close thank you @reergymerej.

[2016-03-14 13:35] #90 closed, assigned to nobody

[2016-03-14 16:53] #66 closed, assigned to nobody

[2016-03-15 16:20] BigPun86 opened #100 "Is it possible to change the titleStyle when switching Route?"
Hey there! I would like to change the titleStyle in one of my nested routes. It works for the headerStyle where i just pass the new backgroundColor to it. But nothing changes when i try the same for titleStyle.

[code]

[2016-03-15 17:10] charpeni commented on #100
Hi @BigPun86.

At this time, `titleStyle` is not available outside `<Router>` props.

Until a pull request is submitted you can use `titleComponent` with style inside `titleProps`.

Thank you for this use case.

[2016-03-15 18:25] BigPun86 commented on #100
@charpeni thanks

[2016-03-16 11:43] BigPun86 opened #101 "Using titleComponent and leftCorner isn´t compatible"
Hey there!

I have a component where i use a custom titleComponent with an custom leftCorner component. I need the leftCorner to trigger my side menu. now i have figured out, when i only use the leftCorner everything is fine. i can trigger the sidemenu with the customAction callback in my Router. Now when i use both, leftCorner and titleComponent, then my leftCorner "button" won´t be triggered....

[2016-03-16 14:43] cpjolicoeur commented on #92
As a quick "fix" in our fork we just ended up exposing the methods directly: https://github.com/mojotech/react-native-simple-router/commit/7d268d7a5cce137718a5d7cc6695f2c381119925

And in a stripped down for demo our router w/ tabbar follows similarly to your example

[code]

[2016-03-16 14:45] cpjolicoeur commented on #94
We are using redux on our application with the router without any issues at all.  You'd have to describe a bit more the errors you are getting as using redux with numerous sub components that do router works fine.

[2016-03-16 21:35] tristangodfrey commented on #92
Thanks @cpjolicoeur , should we document this approach/add an example or just leave this issue up for reference? Would be happy to contribute if needed.

[2016-03-17 08:54] BigPun86 commented on #101
Fixed it by giving my Title Component a fix width

[2016-03-17 11:42] BigPun86 commented on #53
Any updates to this?

[2016-03-17 12:57] cpjolicoeur commented on #92
we'd want @charpeni and other's opinions on it.  Exposing the methods (or a minimal subset of methods) works fine for us.  I never formally submitted a Pull Request back to the mainline project with those changes as I didn't know if it was something they were interested in.

But maybe a discussion is in order on it.

[2016-03-18 12:31] CreativeManix opened #102 "Back Button Android"
I have latest version from NPM, the back button on android closing the app. Instead of going back to previous route.

I tried to take use latest code from this repo (npm git://)

But toRoute method throws error.

Does back feature on Android works on 0.8.4?

[2016-03-18 12:41] davidLeonardi commented on #102
Works fine on iOS, unfortunately I don't have an android device to test on.

On Fri, Mar 18, 2016 at 1:32 PM CreativeManix notifications@github.com
wrote:

[2016-03-18 13:16] charpeni commented on #102
Back button handeling needs to be enabled to work, like below :

[code]

After that, on back pressed if the route stack is empty it will close the app, otherwise it will back to the previous route.

[2016-03-18 13:18] CreativeManix commented on #102
Oh Yes, it works Thanks.

[2016-03-18 13:21] charpeni commented on #101
Hmmm.. Strange behaviour.

It's sound like the title component overlaps other components.

Thank you for reporting.

[2016-03-18 13:26] charpeni commented on #92
I think it's a great idea to expose these methods.

@tristangodfrey It would be appreciate :smiley:

@sethx Any thoughts?

[2016-03-18 13:28] charpeni commented on #102
Happy coding, I'll close this issue since it's resolved.

[2016-03-18 13:28] #102 closed, assigned to nobody

[2016-03-18 13:41] cpjolicoeur commented on #92
I'll submit a PR with our exposing changset for review/discussion.

[2016-03-18 14:00] charpeni commented on #92
That was fast!

[2016-03-21 22:21] #100 closed, assigned to charpeni

[2016-03-24 13:36] charpeni commented on #92
@tristangodfrey Does the documentation is still in planning?

[2016-03-24 13:36] #92 closed, assigned to nobody

[2016-03-25 17:39] charpeni commented on #94
@skizzo can you describe the errors ?

[2016-03-28 10:54] WhatAKitty opened #108 "this.props.setRightProps caused warning."
Hi,
    It is so strange when I set rightProps in constructor, It gave me warning: "Warning: setState(...): Cannot update during an existing state transition (such as within `render`). Render methods should be a pure function of props and state.".
    Following is my code:
    `constructor(props) {
        super(props);
        props.setRightProps({
            onFilterClicked: () => {

[2016-03-28 17:24] amrnt opened #109 "Hide Navigation Bar on actions (ie when scrolling)"
I'm trying to figure out if I can hide/show the nav bar after it rendered.

[2016-03-30 12:56] charpeni commented on #108
Can you verify how you pass props and how you declare rightCorner with `examples/Explorer` and `examples/twitter-example` ? If it still doesn't work, we will take a look at it.

[2016-03-30 12:57] charpeni commented on #109
At this time, we can't modify or update the navigation bar without changing scene/route.

But i'm agree with you, we should have the possibility to update the navigation bar from the current scene. Hide progressively the navigation bar while scrolling will be awesome.

PRs are welcome :)

[2016-04-02 19:17] shakdoesgithub commented on #53
I'm also running into this issue, when I slide the side menu from left to right, the navigation bar's background is overlapping the side menu. Image attached
<img width="528" alt="overlap" src="https://cloud.githubusercontent.com/assets/7268367/14228560/d74cbfc4-f8cc-11e5-909e-ef0ae109c4dd.png">

[2016-04-03 19:38] BigPun86 commented on #53
@shakdoesgithub i ended up using react-native-drawer with type overlay. If you want to have the side menu covering the complete side it is opened then you should add the noStatusBar prop to your router...

[2016-04-04 23:27] ericraio opened #110 "Option to warm up the next route"
I currently have a welcome screen where 8 out of 10 times, they are going to click on a specific button.

A web browser has the ability to pre-load the next route and render the page in the background.

 It would be nice if i could some how pre-load the next "toRoute" matching a specific criteria so when the user taps on the button, the next page is already loaded with data and can make the app fe

[2016-04-05 12:48] charpeni commented on #110
I like that !

[2016-04-05 12:54] davidLeonardi commented on #110
@Eric: Do you have an idea on how that could be implmented? I'd love to
help you get that done.

On Tue, Apr 5, 2016 at 2:48 PM Nicolas Charpentier notifications@github.com
wrote:

[2016-04-06 01:31] ericraio commented on #110
@sethx I'm not quite sure how to implement this but I think it might be a similar concept when you have a route stack and you are "swipping" to go back and you can already see the previous screen layered underneath, I think navigator handles this but would need to look at the source code and reverse engineer it going the other direction

[2016-04-06 01:39] ericraio commented on #94
@charpeni I missed this notification, sorry about that!

@skizzo I created my own router Actions / Reducers maintaining the state of the router.
 I used the eventEmitter to respond to the router events and trigger actions to redux, then with every component, I have a higher order component where it has a componentWillReceiveProps and i look at the state of the router and trigger a route change.

I

[2016-04-06 13:34] charpeni commented on #110
I think we maybe able to achieve this with prop `initialRouteStack` or method `immediatelyResetRouteStack(routeStack)`.

Navigator API provide methods to navigate to an existing scene without unmounting :

I guess `jumpTo` will do the same thing as swiping back to the previous route.

We could pre-render or warm up most used scenes and navigate with `jumpTo()`. Also, I think we should add a method

[2016-04-06 21:32] ericraio commented on #110
@charpeni great find! That seems like it would work. From an interface perspective. I was thinking I could call a function in the componentDidMount where I can  preload a route and the next time "toRoute" is called matching a preloaded scene, it would go to the mounted scene instead of mounting another.

In my welcome screen, if they don't hit "Start" for an example and the start button goes to th

[2016-04-06 21:34] ericraio opened #111 "Github Page and/or Wiki ?"
Documentation seems to be growing, we could load up a simple jekyll github page or start putting documentation into the wiki.

[2016-04-07 13:46] charpeni commented on #110
Nice perspective, I have the same use case as I need to pre-render a WebView to avoid the waiting of the user while loading.

It should push that existing scene to the end of the route stack to be able to back to the previous scene.

[2016-04-07 18:31] ericraio commented on #110
@charpeni yeah that makes sense

[2016-04-07 18:31] ericraio commented on #94
@sethx should we close this thread due to inactivity?

[2016-04-07 18:33] #94 closed, assigned to nobody

[2016-04-08 02:46] shakdoesgithub opened #112 "Any way to change route from a reflux / redux store?"
I have a component that will trigger sign out action on my redux store, from the store I want to change the route to a Sign In component. Is this possible?

[2016-04-08 07:42] davidLeonardi commented on #112
You can use resetToRoute for this
On Fri, 8 Apr 2016 at 04:46, shakdoesgithub notifications@github.com
wrote:

[2016-04-08 07:48] davidLeonardi commented on #94
"Yes"
On Thu, 7 Apr 2016 at 20:33, Nicolas Charpentier notifications@github.com
wrote:

[2016-04-08 15:04] ericraio commented on #110
@charpeni are you able to start this? I can help out where needed

[2016-04-08 15:12] charpeni commented on #110
I can't start this right now, I have other priorities to deal with but I'll need it in a few weeks, so I'll keep you up-to-date. Feel free to look at it if you have time :)

[2016-04-08 15:30] ericraio commented on #110
@charpeni yeah same here, i should be able to look into this in a week or 2

[2016-04-08 15:40] charpeni commented on #110
@sethx ? :D

[2016-04-08 15:45] ericraio commented on #112
hey @shakdoesgithub the way I achieve this is that I recreate the router state in redux. On every event emitted from the router, i send an action to the redux store.

For every component I have, I created a Higher Order Component that has a "componentWillReceiveProps"  and when the state updates, i look at the router state and perform a "toRoute" call.

This allows me to dispatch router actions fr

[2016-04-09 05:54] anhldbk commented on #112
@ericraio That's a good approach.

Additionally, I think we could modify class `Router` to allow any one call its transition methods.
For example, currently we have:

[code]

We may define a certain function like:

[code]

Is that better?

[2016-04-09 06:32] ericraio commented on #112
@anhldbk yeah thats a good idea, that would eliminate the dependency on using the prop and the need I had for using this mixin

[2016-04-09 18:15] davidLeonardi commented on #110
I might give it a shot this week, my workload is decreasing so i have some
time
On Fri, 8 Apr 2016 at 17:40, Nicolas Charpentier notifications@github.com
wrote:

[2016-04-10 02:08] anhldbk commented on #112
@ericraio , @shakdoesgithub I've read the code in class `Router` and found out that: the router already exposes such navigation functions:

[code]

So it's really straightforward to get redux works with this component.

[2016-04-10 03:55] anhldbk opened #113 "Separation of concerns"
I am confused about setting props for:
- `Router` objects
- Objects passed to `this.props.toRoute()`

They're sharing common props. For example:
- `backButtonComponent` ~ `leftCorner`
- `rightCorner`

Don't you think that we should remove such common props from `Router` objects?

[2016-04-10 05:03] ericraio commented on #112
@anhldbk when I was looking into this, I was running into issues where I couldn't call a method on the router to change the route and components that the router renders were able to access the props.

with my high order component, I was able to dry up the code with the mapStateToProps and create a common componentWillReceiveProps to handle the route transitions, not the cleanest implementation but

[2016-04-10 07:31] anhldbk commented on #112
@ericraio How come? Here is my code:

**The app**

[code]

**LaunchPage** which is responsible for displaying a message stored in `props`

[code]

[2016-04-10 08:48] anhldbk commented on #53
@shakdoesgithub If I swipe the screen from left to right, the router automatically goes back to the previous page. Don't you see that?

[2016-04-10 08:54] anhldbk commented on #53
@BigPun86 You made my day!

[2016-04-10 18:00] shakdoesgithub commented on #53
@BigPun86 thanks, i'm looking into using that library, but i'm having problems where I can't pass props down to my scenes from the redux store. Are you using redux by any chance?

[2016-04-10 18:01] shakdoesgithub commented on #53
@anhldbk when you swipe the side menu does hide. My issue is the side menu doesn't cover up the whole blue background of the nav bar

[2016-04-11 07:39] BigPun86 commented on #53
@shakdoesgithub yeah i am using redux. i moved the react-native-drawer into a extra js. Then i wraped the drawer around my Router and passed the router a ref. In the drawer component i am doing some weird stuff which actually works. U can catch me at discord for more informations, i can show u then how i solved this explicit Jamal #2918

[2016-04-13 22:20] ericraio commented on #110
@sethx hey seth, were you able to get a chance to look at this? :)

[2016-04-14 10:43] davidLeonardi commented on #110
Ive been sick all week unfortunately. Hopefully i feel better soon!
On Thu, 14 Apr 2016 at 00:20, Eric Raio notifications@github.com wrote:

[2016-04-14 20:18] ericraio commented on #110
@sethx get well soon!! :100:

[2016-04-15 02:48] ericraio opened #115 "Unable to pass an Icon to backButtonComponent"
When I was setting the back button component, I couldn't just pass in an Icon component, the proptype is expecting a function and not an object. I had to create a new component that returns the Icon and pass it in.

Should we change this?

[2016-04-15 15:20] davidLeonardi commented on #115
As the name of the prop says, it expects a component, which is a function and not an object. I don't see why we should change the usecase for this specific property, as it is semantically correct.
If you'd like to introduce a new prop for defining an icon, you're welcome to do that, but generically supporting icons is a slippery slope in my opinion, because there are quite a few ways of doing that

[2016-04-15 17:53] ericraio commented on #115
@sethx
I think it should take any react element, this would support all components, images, icons. anything that renders

React.PropTypes.func ->  React.PropTypes.element,

[2016-04-21 11:50] Secretmapper opened #122 "Change Title inside Route Component (ie on Breakpoint)"
In some apps, when scrolling to certain points in the app, the title changes (i.e. ebook readers change to the title of the navbar to the current chapter)

It would be great if this can be supported.

Related: https://github.com/react-native-simple-router-community/react-native-simple-router/issues/109

Might take a stab with a PR once work settles down.

[2016-04-21 13:31] charpeni commented on #122
It could be a useful feature, a PR would be nice :)

[2016-05-02 20:57] charpeni commented on #108
I'll close this issue since you didn't answer, please feel free to reopen if it still there.

[2016-05-02 20:57] #108 closed, assigned to nobody

[2016-05-05 22:44] charpeni commented on #113
`Router` props are a default props of each scene.

Object passed to a function like `toRoute`, `replaceRoute`, etc. override the `Router` props.

##### Usage example :

On all my scene, I want by default a burger menu on my `leftComponent`. Except on X route that I want another fancy button, I can do that with the props that are passed to the function.

[2016-05-05 22:47] charpeni commented on #53
Still relevant ?

[2016-05-06 06:08] BigPun86 commented on #53
Nope, should be solved

[2016-05-06 07:41] fabianbormann opened #125 "How to use the custom action"
Hi community,

I want to combine the react-native-drawer (https://github.com/root-two/react-native-drawer) with a left corner menu button. Therefore I need to call drawer.open() from the left corner component. Is there a way to call a main component function from left corner component? I read in the docs that I could maybe use the customAction prop? Can you give me a short example of using the cus

[2016-05-06 15:16] #53 closed, assigned to nobody

[2016-05-09 14:23] Antonides opened #126 "Set animation for resetToRoute()"
For the resetToRoute prop i want to set a custom sceneConfig. This did not work. The resetToRoute animation is like a back button. (page swipes back). Did anyone know how to set the sceneconfig or disable the current animation?

`this.props.resetToRoute({
name: "Name",
                sceneConfig: Navigator.SceneConfigs.FloatFromBottomAndroid,
                component: Home,
            });`

[2016-05-10 12:40] fabianbormann commented on #125
Solved it using an EventEmitter and pass it via props and leftCornerProps.

[2016-05-10 12:40] #125 closed, assigned to nobody

[2016-05-11 12:55] reergymerej opened #128 "update imports from react-native to react"
As of [RN 0.25.1](https://github.com/facebook/react-native/releases/tag/v0.25.1), importing from `react-native` is deprecated.  This leads to lots of annoying messages.

[2016-05-11 12:56] reergymerej commented on #128
Whoops, just saw #124 .  Disregard.

[2016-05-11 12:56] #128 closed, assigned to nobody

[2016-05-11 20:26] #113 closed, assigned to nobody

[2016-05-13 10:32] dnish opened #133 "Can't change title"
Hey,
I'm having an issue when I try to change the title of the header. For example my app component looks like this:

[code]

After changing the state, componentWillUpdate fires but the title in the header still remains the same.

[2016-05-13 10:40] dnish commented on #133
Even if I add an own Title component and try to set the props via <code>this.props.setTitleProps</code>, nothing changes.

[2016-05-15 12:09] folivi opened #134 "Help: showing new route from a deeply nested component"
Hey guys,
Can someone help achieve this?
I have the implementation below.

It's pretty simple:

-in my index.ios.js file:

[code]

Here goes the component 2

[code]

Component3 displays a collection of items
Let's say < ListItem />

In the ListItem component I render a view inside a TouchableHighlight.

The goal is to pop a < ItemDetailsView > to the router when user taps on one item inside the li

[2016-05-15 14:52] charpeni commented on #134
You can pass specific props to the children components like this :

[code]

Or pass all the props to the component :

[code]

[2016-05-19 00:04] folivi commented on #134
Thanks but I still don't get why it doesn't work.

I created this gist: https://gist.github.com/folivi/1c3cf4a8754335860ccede337d9eedfa
I followed the tweeter example but looks like the function this.showEvent is not passed from the Events components to the eventListItem. Strange thing is when I pass a string, the child component recieves it.
Hope you can help me
thanks

[2016-05-22 05:37] akshaysinghi opened #135 "Compare current scene with other"
Compare current scene and called scene as i am on same page and calling same page through side menu.

[2016-05-30 20:26] charpeni commented on #133
At this time, we can't easily update the title of the current route.

PRs are welcome :)

[2016-05-30 20:27] dnish commented on #133
Yeah, I am using an own title component. This works without problems :)

[2016-05-30 20:30] charpeni commented on #133
Can you share with us how you do that for further question? :)

[2016-05-30 20:32] dnish commented on #133
Yeah, I'll post tomorrow the code here. In my case I am using a ScrollView slider and change the title if I've slided to the next component.

[2016-05-30 20:34] charpeni commented on #133
Oh cool.

Related to #122.

[2016-05-30 20:41] charpeni commented on #126
`immediatelyResetRouteStack` from the Navigator API can do that, unfortunately, it is not integrated.

PRs are welcome, otherwise I'll do it when I'll have time. Thank you for this use case.

[2016-05-31 05:38] dnish commented on #133
Here's my answer:

index.js

[code]

title.js

[code]

dashboard.js

[code]

So in this case we can easily set the title via property and change it whenever we want.

[2016-06-02 04:02] sudosiyang opened #136 "[react native 0.27.0-rc] react native own's EventEmitter path has been change"
react native own's EventEmitter path has been change

[2016-06-05 10:59] akoshman commented on #92
[code]

If I wrap **Router** by **View** then nothing appears on the screen.
Can anyone write some instructions how to do this?
And where do you get **TabBar** component?
Thanks.

[2016-06-06 13:44] charpeni commented on #136
Thank you.

Are you up for a pull request? :)

[2016-06-07 14:48] markfranco commented on #136
This should do it

https://github.com/react-native-simple-router-community/react-native-simple-router/pull/137

[2016-06-08 05:59] #136 closed, assigned to nobody

[2016-06-08 08:06] fiattt opened #138 "not work in react native 0.27"
i found in react native 0.27

the EventEmitter path change from "react-native/Libraries/vendor/emitter/EventEmitter"  to "react-native/Libraries/EventEmitter/EventEmitter"

[2016-06-10 02:00] charpeni commented on #138
Thanks, it will be fixed by #137 tomorrow :)

[2016-06-10 12:35] saimemre opened #139 "import "react-native-navigator" after _reactNative2['default'].createClass error"
Hello, When I import 'react-native-navigator' then I get this "_reactNative2['default'].createClass error is not a function" massage.
navigate.js 27:0

What should I do to fix that?
Thanks.

[2016-06-10 13:20] #139 closed, assigned to nobody

[2016-06-12 12:46] khiemnm commented on #138
Hi Charpeni.
Did you fixed it?
I still get same issue with react native 0.27

[2016-06-12 18:10] fgarci03 commented on #138
Yeah, I actually came by this today and found out it's almost fixed :D

Just waiting for the PR!

[2016-06-13 03:43] khiemnm commented on #138
great. i'm waiting it :)

[2016-06-13 06:24] saimemre commented on #138
Hello, my react native version is 0.27.2.
I have a Eventmitter problem. I am waiting it.

Thanks.

[2016-06-13 06:54] maluramichael commented on #138
Please merge this PR today.

[2016-06-13 09:19] #138 closed, assigned to nobody

[2016-06-13 12:13] BigPun86 opened #140 "RN update breaks customAction"
Since i have updated my project to react-native @v0.27.2 and simple-router@0.9.2 i get this error when i try to trigger my customAction callback

![screen shot 2016-06-13 at 14 10 35](https://cloud.githubusercontent.com/assets/7880624/16007086/cc3d491e-3170-11e6-9e55-c211c5968c47.png)

Any ideas?

[2016-06-17 16:17] derHowie opened #141 "NPM"
The most recent change 'Bug Fix for React Native's EventEmitter' doesn't seem to be reflected in the module I receive from NPM.

[2016-06-19 21:48] johannhof commented on #141
Should be up, sorry for that.

[2016-06-19 21:48] #141 closed, assigned to nobody

[2016-06-24 11:54] fabianbormann opened #142 "Corner components are not centered anymore after update to RN 0.28"
With RN 0.27 everything worked fine but it seems that there are some css style changes in RN 0.28 https://github.com/facebook/react-native/releases/tag/v0.28.0

![rc0-28-navbar](https://cloud.githubusercontent.com/assets/1525818/16337036/aa52c932-3a12-11e6-8ed1-7d7a30cbf04e.png)

[2016-06-30 20:27] sprice opened #144 "Header: Back button text wraps"
I've got an example app as simple as the README in this repo. In both Android and iOS the Back button in the header wraps.
iOS ![ios](https://cloud.githubusercontent.com/assets/165397/16503095/3f50efde-3ec6-11e6-9067-68502d4b4d21.png)
Android ![android](https://cloud.githubusercontent.com/assets/165397/16503098/40d9bade-3ec6-11e6-9a3a-387c312bc878.png)

[2016-06-30 20:31] sprice commented on #144
Also, i see in Android the heading text is not centered. I'm going to update my issue heading to reflect that.

[2016-06-30 20:37] charpeni commented on #144
Title is not supposed to be centered as defined in the [Material Design Guideline](https://material.google.com/layout/structure.html#structure-app-bar).

[2016-06-30 20:38] sprice commented on #144
oh thanks. My bad.

[2016-07-04 03:27] ericraio commented on #144
+1 im getting this issue too on a new application, im using an arrow instead though

[2016-07-04 13:28] #142 closed, assigned to nobody

[2016-07-04 13:36] charpeni commented on #144
I'm working on it.

[2016-07-04 13:49] #144 closed, assigned to charpeni

[2016-07-18 15:37] LXVC opened #147 "replaceRoute and resetToRoute No animation?"
[code]

[2016-07-19 08:37] Antonides commented on #147
#126 Same issue.

[2016-07-22 08:48] maluramichael commented on #140
Same here

[2016-07-24 23:31] sbefort opened #149 "Twitter example red screen of death"
Code:

[code]

Red screen of death error:

Going to the terminal and typing the following takes me into the directory:
`cd /Users/nomad/Mobile/upool/node_modules/react-native-simple-router/examples/twitter-example`

No idea why it does not see the module.

[2016-07-25 01:47] sbefort commented on #149
The problem was in line 3 of my code.  routerTest was not the name of my app.

[2016-07-25 01:47] #149 closed, assigned to nobody

[2016-07-26 10:09] johneisenheim opened #150 "Transition to another route with trans & hideNavigationBar & noStatusBar"
Hi!
My mobile app has the first page component with the Navbar. When I press the button at the right corner, I would open a new page with no Navbar. So, what I've specified in _toRoute()_ function is the following:

[code]

When I tap on right button, NavBar on the first page becomes white just before transition begins. Any solution? Thank you so much!

[2016-07-27 08:46] maybewaityou commented on #140
Same

[2016-07-28 08:53] Antonides commented on #140
Same for me

[2016-07-28 09:02] BigPun86 commented on #140
fixed it by replacing

[code]

with

[code]

[2016-07-28 09:22] Antonides commented on #140
Where do you put this code?

[2016-07-28 09:28] BigPun86 commented on #140
In the main index of this module: yourProject/node_module/react-native-simple-router/index.js @ line 238

Other option is to get the following commit/fork:

[code]

[2016-07-28 09:40] davidLeonardi commented on #140
Otherwise just submit a PR and i'll approve it

On Thu, Jul 28, 2016 at 11:28 AM Adel Bruno Grimm notifications@github.com
wrote:

[2016-07-28 09:43] Antonides commented on #140
Doesnt work for me. Used your commit/fork. My project is react-native@0.29.2

[2016-07-28 09:44] BigPun86 commented on #140
Well my project is also running on 29.2. I will submit a PR with my newest fix in the next ten minutes

[2016-07-28 09:45] BigPun86 commented on #140
try removing the module by hand, then run npm cache clean and than install it again and start the packager.

[2016-07-28 09:52] BigPun86 commented on #140
My bad, it breaks as soon as i try to use customAction, but i fixed it, i will submit a PR

[2016-07-28 10:04] sethx commented on #140
So no PR is needed?

On Thu, Jul 28, 2016 at 11:52 AM Adel Bruno Grimm <notifications@github.com>
wrote:

[2016-07-28 10:13] davidLeonardi commented on #140
I can see why there was a recursive loop... @charpeni mind taking a look at this as well?
I don't have any RN projects to test this on anymore :(

[2016-07-28 10:15] BigPun86 commented on #140
i got it fixed and submitted a PR, should work now @michelantonides and @sethx

[2016-07-28 11:32] Antonides commented on #140
@BigPun86 Thank you very much. It works

[2016-08-08 10:27] JackPu commented on #150
I has the same problem 😂😂😂。@johneisenheim

[2016-08-10 14:35] Antonides opened #152 "multiple customAction in navigation stack"
I want to use multiple custom actions in a navigation stack. when i go back in the navigation stack the custom action is overwrite (?) by another view and gives an error. Anybody has a solution?

[2016-08-15 13:33] johneisenheim opened #154 "LeftCorner in firstRoute"
Hi there!
Is it possible to add an icon to the left on the firstRoute? The only prop I see is rightComponent. Thank you.

[2016-08-17 14:13] BigPun86 opened #155 ""You are manually calling a React.PropTypes validation function for the...""
Hey there, i am receiving following error/warnings when using this module:

[code]

![screen shot 2016-08-17 at 16 10 08](https://cloud.githubusercontent.com/assets/7880624/17739409/46702a88-6495-11e6-90ed-cebde5722c47.png)

I have recently updatd my react-native project to v0.29.2 and this module to the latest. I have removed my node_modules and installed the packages again. But still receiving t

[2016-08-17 17:47] vonovak opened #156 "custom navbar?"
hello, is there a way to render custom navbar? For example, to use the `ToolbarAndroid` ?
thanks!

[2016-08-18 01:07] JackPu commented on #156
So sorry. Maybe you can only render some style(backgroundColor ig.)

[2016-08-18 08:03] vonovak commented on #156
thanks for answering but no, that would be way too big a compomise

[2016-08-18 08:03] #156 closed, assigned to nobody

[2016-09-13 14:49] Antonides opened #158 "Trans:true no back button"
Hello,

When i use the trans:true my navigator bar is gone. I want a transparent navigation bar with back button and title. Anybody with same problem?

[2016-09-20 13:12] georgeot opened #159 "Unable to fully hide navigation bar"
When setting `hideNavigationBar={true}` i'm still seeing a white 20 point bar at the top that sits on top of any content I add into a component. Is there a way to fully hire the bar? I'm happy to do a pull request if someone can point me to the right part.

[2016-09-25 08:51] Falconerd opened #160 "Route management best practicies"
Hi, at present in my app, I'm trying to set up navigation between scenes by using this library. It works well, however I have some questions regarding implementation best practices.

I'm attempting to use a routes.js file instead of writing out the route for each transition. For some reason, I have to create a new Object with Object.assign for each.
## Current Implementation

**routes.js**

[code]

[2016-09-27 05:43] Falconerd commented on #159
Not sure if you are still having this problem, but there are a couple of methods described in this issue: https://github.com/react-native-simple-router-community/react-native-simple-router/issues/13

[2016-09-30 20:05] Gagege commented on #158
Same problem.

[2016-10-10 13:10] Falconerd commented on #160
After thinking about this for a while, it doesn't make sense for routes to be defined in this way.

Your application probably won't have more than 1-2 ways to get to any specific route, so writing them as standard objects is fine.

[2016-10-10 13:10] #160 closed, assigned to nobody

[2016-10-10 13:16] Falconerd opened #162 "Update NPM Version?"
Hey, it seems the NPM version doesn't have the fix from #151. Took me a while to figure out what was going on.

[2016-10-13 00:21] charpeni commented on #162
Thanks for the ping, I'll do that in the next few days.

[2016-10-13 22:22] charpeni commented on #162
Done :tada:

[2016-10-13 22:22] #162 closed, assigned to nobody

[2016-10-14 11:46] GCour opened #164 "Show View after click on rightCorner icon"
I know it's possible to go to a different page after clicking on a navigation icon. But is it possible to show a `View` on the same page?

For example, if I have a list of items and a search icon in the navigation bar. Would it be possible to slide a View with a `Textinput` on that same screen?

[2016-12-01 02:21] ghost commented on #159
Setting hideNavigatonBar={true} and noStatusBar={true} I still see white space reserved at the top of the app. Does anyone else have a resolution for this?

[2016-12-01 02:27] ghost commented on #159
Apologies. the prop noStatusBar must be declared before hideNavigiation.

[2016-12-11 20:28] josechavezm opened #165 "make backbutton optional on android"
Hello,

Is it possible to not show the backbutton (leftcorner)?  can't find how to do this.
It would be nice to have this feature since android already has a physical back button.

Thank you.

[2017-01-23 09:09] darrenchiu opened #166 "First Screen RIghtCorner Actions"
Hi, I would like to ask how I can setup the rightCorner for the first screen with actions? Apparently the rightCorner have no access to this.props.toRoute and I don't know how to trigger any route switching action for right corner... If it's in other layer, I can pass it down myself, but for the first screen, I don't seem to find anyway to achieve this.

Thanks a lot

[2017-01-23 09:20] darrenchiu commented on #166
sorry, it's all my fault...
i put in a method to render the rightCorner like
rightCorner={this._nextButton.bind(this)}

which i should really be doing is:
rightCorner={SomeCustomButtonAsComponent}

[2017-01-23 09:20] #166 closed, assigned to nobody

[2017-02-15 08:40] darrenchiu opened #168 "Customize font for android navbar title"
Not exactly an issue, just wanna check if it's expected that Android NavBar title to have a fixed font?
I am able to customised the font in iOS by applying customised styles as titleStyle but it doesn't work in android...

Would be great to keep android and ios on a consistent design and font for any cross platform apps

[2017-02-15 09:36] thedamfr opened #169 ":bug: leftCorner offset titleComponent on Android"
Behaviour is not reproduced on iOS
When using a leftCorner component on Android, the titleComponent is not centered and move to the right.
This behaviour is not reproduced with a BackButton Component.

[2017-02-15 09:36] thedamfr commented on #169
I will try to share a sample project reproducing that behaviour

[2017-02-15 21:45] ggarnier opened #170 "RightCorner doesn't work in firstRoute"
Hello. I'm trying to add a component in the right corner, but it doesn't appear in the first route, only in the other routes. Here's a sample of my code:

[code]

[2017-02-16 00:45] charpeni commented on #168
You're right @darrenchiu, thanks for the reporting.

Are you up for a PR?

[2017-02-20 14:02] darrenchiu commented on #168
will try to take a look this week

[2017-03-26 00:11] tjscollins commented on #159
Docs should probably be updated to reflect that

[2017-04-13 15:59] seanavery opened #171 "Trouble with sceneConfig"
When trying the default `Router` example with a firstRoute and no sceneConfig defined I get the following error: `Cannot read property 'sceneConfig' of undefined` It appears like the default sceneConfig is not working.

If I supply a scene config my route looks like:
[code]

I get the following error: `Navigator is not defined`

[2017-06-23 11:19] ItsNoHax commented on #171
Are you importing Navigator?

If yes, are you using the latest React-Native? Because it's been deprecated and you need to import it from somewhere else now.

[2017-09-11 21:50] charpeni commented on #77
@davidLeonardi Do you mind giving me admin access to the organization? I'd like to add an avatar.

[2017-09-11 21:55] davidLeonardi commented on #77
Will do so first thing tomorrow morning
On Mon, 11 Sep 2017 at 23:51, Nicolas Charpentier <notifications@github.com>
wrote:

[2017-09-12 13:03] charpeni commented on #77
@davidLeonardi Thanks, ping me when it will be done.

[2017-09-12 13:38] davidLeonardi commented on #77
It has been done, dear sir.

[2017-10-13 05:32] nardbagel opened #172 "not supported by latest version of react-native"
Seems like this module doesn't work with the latest release of react-native as the eventEmitter module that this module depends on is no longer available in react-native. I could be wrong, but I get the error: "unable to resolve module 'react-native/Libraries/EventEmitter/EventEmitter' etc..."

This is as of React-Native 48.4. A downgrade might be the only way to get this module to play nicely.

[2017-10-13 05:38] nardbagel commented on #172
Could pull in another dependency like https://github.com/medikoo/event-emitter, and it might solve the problem.

[2018-02-07 12:31] pedrodevoto commented on #172
@bwighthunter having same problem. Care to share how you did solve it?

[2018-02-16 20:55] maluramichael commented on #172
See #173 my packager didn't complain anymore

[2018-02-23 21:38] #172 closed, assigned to nobody

[2019-06-20 16:40] davidLeonardi commented on #171
Closing due to this being an external deps issue

[2019-06-20 16:40] #171 closed, assigned to nobody